$colors: (
  bisque: bisque,
  black: black,
  cosmiclatte: #fff8e8ff,
  cyan: cyan,
  gray: gray,
  green: green,
  orange: orange,
  purple: purple,
  raisinblack: #262626ff,
  red: red,
  rubyred: #a20021ff,
  russianviolet: #240b36ff,
  blackcoffee: #32292fff,
  brightmaroon: #b9223eff,
  roseebony: #604d53ff,
  snow: #f8f4f9ff,
  rosewood: #570000ff,
  babypink: #da9f93ff,
pastelpink: #f2ccc3ff,
pinklace: #f0d3f7ff,
manatee: #8e9aafff,
gunmetal: #1b2432ff,
spacecadet: #302f4dff,
);
