$colors: (
  bisque: bisque,
  black: black,
  cosmiclatte: #fff8e8,
  cyan: cyan,
  gray: gray,
  green: green,
  orange: orange,
  purple: purple,
  raisinblack: #262626,
  red: red,
  rubyred: #a20021,
  russianviolet: #240b36,
  blackcoffee: #32292f,
  brightmaroon: #b9223e,
  roseebony: #604d53,
  snow: #f8f4f9,
  rosewood: #570000,
  babypink: #da9f93,
  pastelpink: #f2ccc3,
  pinklace: #f0d3f7,
  manatee: #8e9aaf,
  gunmetal: #1b2432,
  spacecadet: #302f4d,
);
